/* Styling for sign-in content */

.main-nav {
  position: static;
}

body {
  background-color: #F8F8FF;
}

.citation-area {
  margin: 3em 10em;
  background-color: white;
  padding: 2em 4em 4em 4em;
}

.citation-area ul {
  padding-left: 1em;
}

.citation-area ul li {
  padding-bottom: 1em;
  white-space: normal;
}

.citation-area a {
  color: #6200EE;
  text-decoration: underline;
}

.citation-area a:hover {
  filter: brightness(0.4);
}

.boldline {
  font-weight: bold;
  padding-top: 1em;
}

@media (max-width: 62.5em) {
  .citation-area {
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
  }

  .citation-area a {
    word-wrap: break-word;
  }
}