/* styling for main nav */

.main-nav {
    position: static;
    /* margin-bottom: 3em; */
}

body {
    background-color: rgb(245, 245, 245);
}

.align-center {
    text-align: center;
}


p {
    padding-left: 2em;
    padding-right: 2em;
}


/* For the compare layout and head */
.compare-area {
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 2em;
    margin-bottom: 4em;
    background-color: white;
    /* padding-left: 2em;
    padding-right: 2em; */
}

.compare-area h2{
    padding-top: 2em;
    font-weight: 400;
    padding-bottom: 2em;
}


/* ------------------- compare table ------------------- */
.compare-container {
    display: grid;
    grid-template-rows: 4fr 1fr repeat(17, 1fr);
    grid-template-columns: 2fr 5fr 5fr;
}


/* -------- Area for the column -------- */
.column-1 {
    grid-column: 1 / span 1;
}

.column-2 {
    grid-column: 2 / span 1;
}

.column-3 {
    grid-column: 3 / span 1;
}


/* -------- Area for the row -------- */

.compare-image {
    grid-row: 1 / span 1;
}

.compare-subtitle {
    grid-row: 2 / span 1;
    font-weight: lighter;
    font-size: 0.9em;
}

.compare-price {
    grid-row: 3 / span 1;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.compare-button {
    grid-row: 4 / span 1;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}

.compare-button button {
    border: none;
    background-color: #00C4AB;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
}

.compare-model {
    grid-row: 5 / span 1;
}

.compare-weight{
    grid-row: 6 / span 1;
    background-color: #E1E4E8;
}

.compare-dimensions {
    grid-row: 7 / span 1;
}

.compare-size  {
    grid-row: 8 / span 1;
    background-color: #E1E4E8;
}

.compare-usb {
    grid-row: 9 / span 1;
}

.compare-system {
    grid-row: 10 / span 1;
    background-color: #E1E4E8;
}

.compare-processor {
    grid-row: 11 / span 1;
}

.compare-memory  {
    grid-row: 12 / span 1;
    background-color: #E1E4E8;
}

.compare-wireless {
    grid-row: 13 / span 1;
}

.compare-bluetooth {
    grid-row: 14 / span 1;
    background-color: #E1E4E8;
}

.compare-audio {
    grid-row: 15 / span 1;
}

.compare-battery {
    grid-row: 16 / span 1;
    background-color: #E1E4E8;
}

.compare-color {
    grid-row: 17 / span 1;
}

.compare-storage {
    grid-row: 18 / span 1;
    background-color: #E1E4E8;
}

.compare-support {
    grid-row: 19 / span 1;
}

.compare-table p {
    padding-top: 2.5em;
}

.compare-table div {
    padding-bottom: 0;
}