*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.grid-item {
  flex: 1 1 auto;
}

.grid-col-1of5 {
  flex: 1 1 20%;
  height: 100vh;
  overflow: scroll;
}

.grid-col-4of5 {
  flex: 1 1 80%;
  height: 100%;
  overflow: scroll;
}


/* Grid column of Footer */
.sample-grid-col-1of5 {
  flex: 1 1 20%;
  height: 100%;
}


/* Grid items for sample structure  */
.sample-grid-item-left {
  height: 13.33em;
  flex: 1 1 20%;
  background-color:#03DAC6;
}

.sample-grid-item-right {
  height: 13.33em;
  flex: 1 1 80%;
  background-color: #6200EE;
}

/* Set up your columns so that when the window is below 30ems in width, they are the full width of the browser window.  */
@media (max-width: 30em) {
  .grid-item {
    flex: 1 1 100%;
  }
}

/* When the window is above 30ems in width, the columns should each be 1/5th of the width of the browser window. */
@media(min-width: 30em) {
  .grid-item {
    flex: 1 1 20%;
  }
}
