*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.grid-item {
  flex: 1 1 auto;
}

.grid-col-1of3 {
  flex: 1 1 33.33%;
  height: 100%;
}

.grid-col-1of5 {
  flex: 1 1 20%;
  height: 100%;
  overflow: scroll;
}

.grid-col-4of5 {
  flex: 1 1 80%;
  height: 100%;
  overflow: scroll;
}

.container .block {
  height: 200px;
}

.container .block:nth-of-type(even) {
  background-color:#6200EE;
}

.container .block:nth-of-type(odd) {
  background-color: #03DAC6;
}

/* Set up your columns so that when the window is below 30ems in width, they are the full width of the browser window.  */

@media (max-width: 30em) {
  .grid-item {
    flex: 1 1 100%;
  }
}

/* When the window is above 30ems in width, the columns should each be 1/5th of the width of the browser window. */

@media(min-width: 30em) {
  .grid-item {
    flex: 1 1 20%;
  }
}
