*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.grid-item {
  flex: 1 1 auto;
}

.grid-col-1of3 {
  flex: 1 1 33.33%;
  height: 100vh;
}

.grid-col-1of5 {
  flex: 1 1 20%;
  height: 100vh;
  overflow-y: scroll;
}

.grid-col-1of6_noHeight {
  flex: 1 1 16.6%;
}

.grid-col-1of5_noHeight {
  flex: 1 1 20%;
}

.grid-col-2of5_noHeight {
  flex: 1 1 40%;
}

.grid-col-3of5_noHeight {
  flex: 1 1 60%;
}

.grid-col-1of2_noHeight {
  flex: 1 1 50%;
}

.grid-col-1of4_noHeight {
  flex: 1 1 25%;
}

/* Grid col 15 of 100 for about us page */
.grid-col-15of100_noHeight {
  flex: 1 1 15%;
}
.grid-col-7of10_noHeight {
  flex: 1 1 70%;
}

/* Grid col 3 of 5 for sign-in page */
.grid-col-2of5 {
  flex: 1 1 40%;
  height: 100%;
}

.grid-col-3of5 {
  flex: 1 1 60%;
  height: 100%;
}

.grid-col-4of5 {
  flex: 1 1 80%;
  height: 100%;
  /* Delete the scroll bar to make the UI clear */
  /* overflow: scroll; */
}

.grid-col-1of3_noHeight {
  flex: 1 1 33.33%;
}

.grid-col-2of3_noHeight {
  flex: 1 1 66.66%;
}

.grid-col-5of12_noHeight {
  flex: 1 1 41.67%;
}

.grid-col-1of12_noHeight {
  flex: 1 1 8.33%;
}

/* Grid column of Footer */

.footer-grid-col-1of5 {
  flex: 1 1 20%;
  height: 100%;
}


/* vertical grid  */
.grid-row-1of3 {
  flex: 1 1 33.33%;
  flex-direction: column;
}

.grid-row-1of5 {
  flex: 1 1 20%;
  flex-direction: column;
}

.grid-row-3of5 {
  flex: 1 1 60%;
  flex-direction: column;
}


/* Grid items for sample structure  */

.sample-grid-item-left {
  height: 13.33em;
  flex: 1 1 20%;
  background-color: #03DAC6;
}

.sample-grid-item-right {
  height: 13.33em;
  flex: 1 1 80%;
  background-color: #6200EE;
}

/* Set up your columns so that when the window is below 30ems in width, they are the full width of the browser window.  */

@media (max-width: 30em) {
  .grid-item {
    flex: 1 1 100%;
  }
}

/* When the window is above 30ems in width, the columns should each be 1/5th of the width of the browser window. */

@media(min-width: 30em) {
  .grid-item {
    flex: 1 1 20%;
  }
}