.main-nav {
    position: static;
}

body {
    background-color: #F8F8FF;
}

button {
    cursor: pointer;
}

/* styling slide images */

.slideShow_image {
    text-align: center;
    padding-top: 20em;
    padding-bottom: 11em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    /* filter: contrast(70%); */
}

#slideShow_image_1 {
    background-image: url(../img/event1.jpg);
}

#slideShow_image_2 {
    background-image: url(../img/event2.jpg);
}

#slideShow_image_3 {
    background-image: url(../img/event3.jpg);
}

.slideshow h1 {
    font-size: 4em;
}

.slideshow_button {
    border: 1em;
    padding: 1em;
    background-color: #6200EE;
    color: white;
}

.dot_group {
    margin-top: 1em;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0 1em 1em 1em;
    background-color: #6200EE;
    border-radius: 50%;
    display: inline-block;
}

#home_title {
    text-align: left;
    vertical-align: middle;
    margin-top: 2em;
    color: #6200EE;
    font-size: 3em;
    margin-bottom: 2em;
}

/* styling product item */

.individual_product {
    position: relative;
    width: 90%;
    color: black;
    background-color: #E6E6E6;
    /* box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 2em;
}

.individual_product img {
    width: 100%;
    height: 12em;
}

.container {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.container p {
    margin-bottom: 1em;
}

.container img {
    display: inline-block;
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.price_section h2 {
    font-weight: bolder;
    color: #6200EE;
    margin-bottom: 1em;
}

.inStock_section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.container button {
    margin-top: 1em;
    width: 100%;
    display: block;
    background-color: #6200EE;
    color: white;
    padding: 1em;
}

.triangle-topRight {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5em solid white;
    border-left: 5em solid transparent;
    right: 0;
}

.productTag {
    position: absolute;
    font-size: 0.8em;
    right: 1em;
    top: 1em
}

.newTriangle {
    border-top: 5em solid #005739;
}

.newTag {
    color: white;
}

.saleTriangle {
    border-top: 5em solid #0000C9;
}

.saleTag {
    color: white;
}

/* styling footer */

footer {
    margin-top: 2em;
}