.main-nav {
    position: absolute;
}

body {
    background-color: #F8F8FF;
}

button {
    cursor: pointer;
}

/* styling slide images */

.slideShow {
    position: relative;
    background-image: url(../img/event1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    height: 100vh;
}

pre {
    font-family: Consolas, monospace;
}

.slideShow h1 {
    font-size: 2.5em;
    font-weight: 900;
    position: absolute;
    top: 20%;
    left: 8%;
}

.slideShow p {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 8%;
}

#event1_heading {
    font-family: sans-serif;
}

#event1_content {
    font-family: sans-serif;
}

.slideShow button {
    position: absolute;
    top: 60%;
    left: 8%;
    border: 1em;
    padding: 1em;
    background-color: #6200EE;
    color: white;
}

.slideShow button:hover {
    filter: brightness(1.4);
}

#previous_button {
    cursor: pointer;
    top: 45%;
    left: 1em;
    position: absolute;
    width: 3em;
    height: 3em;
}

#previous_button:hover {
    filter: brightness(1.4);
}

#next_button {
    cursor: pointer;
    top: 45%;
    right: 1em;
    position: absolute;
    width: 3em;
    height: 3em;
}

#next_button:hover {
    filter: brightness(1.4);
}

.dot_group {
    position: absolute;
    bottom: 1em;
    left: 45%;
}

.dot {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0 1em 1em 1em;
    border-radius: 50%;
    display: inline-block;
}

/* styling title */

#home_title {
    text-align: left;
    vertical-align: middle;
    margin-top: 2em;
    color: #6200EE;
    font-size: 3em;
    margin-bottom: 2em;
}

/* styling product item */

.individual_product {
    position: relative;
    width: 90%;
    color: black;
    background-color: #E6E6E6;
    /* box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 2em;
}

.individual_product img {
    width: 100%;
    height: 12em;
}

.container {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.container p {
    margin-bottom: 1em;
}

.container img {
    display: inline-block;
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.price_section h2 {
    font-weight: bolder;
    color: #6200EE;
    margin-bottom: 1em;
}

.inStock_section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.container button {
    margin-top: 1em;
    width: 100%;
    display: block;
    background-color: #6200EE;
    color: white;
    padding: 1em;
}

.triangle-topRight {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5em solid white;
    border-left: 5em solid transparent;
    right: 0;
}

.productTag {
    position: absolute;
    font-size: 0.8em;
    right: 1em;
    top: 1em
}

.newTriangle {
    border-top: 5em solid #005739;
}

.newTag {
    color: white;
}

.saleTriangle {
    border-top: 5em solid #0000C9;
}

.saleTag {
    color: white;
}

/* styling footer */

footer {
    margin-top: 2em;
}