/*
  STYLE GUIDE STYLING 
*/

/* For Responsive */

html {
  font-size: 100%;
}

/* @media (min-width: 640px) { body {font-size:0.5rem;} } 
@media (min-width:960px) { body {font-size:0.8rem;} } 
@media (min-width:1100px) { body {font-size:1rem;} } */

body {
  font-family: sans-serif;
  height: 100%;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

/* section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
} */

section h3 {
  margin-bottom: 1em;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0em;
}

section .codearea {
  background-color: #F7F8FA;
  font-family: monospace;
  font-size: 1em;
  border: solid #E2E4E8;
  padding: 1em;
  border-width: thin;
  line-height: 1.5em;
}

section .tagName {
  color: #6200EE;
}

section .tagClass {
  color: #BA89FF;
}

section .tagValue {
  color: #009577;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for an in-text link */

.in-text-link {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  display: inline-block;
  color: #03DAC6;
}

/* Styling for the navigation button */

.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #ffffff;
  background-color: #6200EE;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #995DFF;
}

/* Styling for the submit/reset button */

.button-submit-reset {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: black;
  background-color: #03DAC6;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-submit-reset:hover, .button-submit-reset:focus {
  background-color: #71EFE0;
}

/* Styling for a text-input*/

.text-input {
  padding: 0.5em;
  border-color: #6200EE;
  font-size: 1em;
  color: #6200EE;
}

.text-input:hover {
  border-color: #6200EE;
}

/* Styling for a label */

.label {
  color: #6200EE;
}

/* Styling for a sign in form */
#sign-in-username {
  padding: 1em 0 1em 1em;
  display: block;
  margin-bottom: 0.5em;
}

#sign-in-password {
  padding: 1em 0 1em 1em;
  display: block;
  margin-bottom: 0.5em;
}

.sample-sign-in-button {
  padding: 1em 1em 1em 1em;
  background-color: #6200ee;
  color: white;
  border: none;
}

/* Styling for a sign up form */
#register-username, #register-email, #register-password, #register-confirm-password {
  padding: 1em 0 1em 1em;
  display: block;
  margin-bottom: 0.5em;
}

.sample-sign-up-button {
  padding: 1em 1em 1em 1em;
  background-color: #6200ee;
  color: white;
  border: none;
}






/* 
  TEXT ELEMENTS -------------------
*/

/* Styling for a h1 */

.h1 {
  font-size: 6.4em;
  font-weight: bold;
  color: #6200EE;
}

/* Styling for a h2 */

.h2 {
  font-size: 4em;
  font-weight: bold;
  color: #6200EE;
}

/* Styling for a h3 */

.h3 {
  font-size: 3.2em;
  color: #6200EE;
}

/* Styling for a p */

.p {
  font-size: 1em;
  color: #6200EE;
}

/* Styling for a bullet list */

.bullet-list {
  font-size: 1em;
  list-style-type: circle;
  color: #6200EE;
}

/* Styling for a numbered list */

.numbered-list {
  font-size: 1em;
  color: #6200EE;
}

/* Styling for color parette */

.black-0, .white-0, .grey-0, .purple-0, .green-0 {
  display: inline-block;
  padding: 1em;
  text-align: center;
}

.black-0 a, .grey-0 a, .purple-0 a, .green-0 a {
  color: white;
}

.white-0 a {
  color: black;
}

.black-0 {
  background-color: black;
}

.white-0 {
  border: thin solid #f6f8fa;
  background-color: white;
}

.grey-0 {
  background-color: #6a737d;
}

.purple-0 {
  background-color: #6f42c1;
}

.green-0 {
  background-color: #28a745;
}

/* Styling for Color Variables */

/* #table-grey, #table-purple, #table-green {
  width: 100%;
} */

th {
  padding: 2em 4em;
}

td {
  padding: 0 4em;
}

.table-data-left, .table-data-right {
  width: 50%;
  padding: 0.5em 1.5em;
}

/* The color vaiable for grey */

.font-black {
  color: black;
}

.font-white {
  color: white;
}

.grey-title-color {
  background-color: #6a737d;
}

.grey-000 {
  background-color: #fafbfc;
}

.grey-100 {
  background-color: #f6f8fa;
}

.grey-200 {
  background-color: #e1e4e8;
}

.grey-300 {
  background-color: #d1d5da;
}

.grey-400 {
  background-color: #959da5;
}

.grey-500 {
  background-color: #6a737d;
}

.grey-600 {
  background-color: #586069;
}

.grey-700 {
  background-color: #444d56;
}

.grey-800 {
  background-color: #2f363d;
}

.grey-900 {
  background-color: #24292e;
}

/* The color vaiable for purple */

.purple-title-color {
  background-color: #6f42c1;
}

.purple-000 {
  background-color: 	#fbd5ff;
}

.purple-100 {
  background-color: #dab2ff;
}

.purple-200 {
  background-color: #ba89ff;
}

.purple-300 {
  background-color: #995dff;
}

.purple-400 {
  background-color: #7e39fb;
}

.purple-500 {
  background-color: #6200ee;
}

.purple-600 {
  background-color: #5400e8;
}

.purple-700 {
  background-color: 	#3f00df;
}

.purple-800 {
  background-color: #2500d7;
}

.purple-900 {
  background-color: #0000c9;
}

/* The color vaiable for green */

.green-title-color {
  background-color: #71efe0;
}

.green-000 {
  background-color:	#a8fffb;
}

.green-100 {
  background-color: #71efe0;
}

.green-200 {
  background-color:	#03dac6;
}

.green-300 {
  background-color:	#00c4ab;
}

.green-400 {
  background-color:	#00b398;
}

.green-500 {
  background-color: #00a284;
}

.green-600 {
  background-color: #009577;
}

.green-700 {
  background-color: #008466;
}

.green-800 {
  background-color:	#007457;
}

.green-900 {
  background-color: #005739;
}

/* 
  COMBINED ELEMENTS -------------------
*/

/* Styling for mobile main nav */

.mobile-main-nav {
  padding: 1em;
  list-style: none;
  display: none;
  position: fixed;
  z-index: 2;
  background-color: white;
}

.mobile-main-nav ul {
  list-style: none;
}

.mobile-main-nav li {
  padding: 1em;
}

.mobile-main-nav a {
  color: black;
}

#styleGuide_Image {
  text-align: center;
  color: white;
  background-image: url(../img/styleGuide.jpeg);
  padding-top: 20em;
  padding-bottom: 25em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Styling for main nav */

.main-nav {
  width: 100%;
  position: fixed;
  background-color: #6200EE;
  padding: 1.5em 1em;
  text-align: right;
  z-index: 1;
}

.main-nav a {
  padding: 1em;
  color: white;
  font-size: 0.9em;
}

/* Styleing for website icon */

#website_icon {
  width: 2.8em;
  height: 3em;
  position: absolute;
  top: 0.7em;
  left: 2em;
}

/* Styleing for search bar */

.search-bar {
  position: absolute;
  top: 0.5em;
  left: 6em;
}

.search-bar input[type=text] {
  outline: none;
  border-style: hidden;
  margin-top: 0.5em;
  padding: 0.5em 3.5em 0.5em 0.5em;
  background-image: url(../img/icon/search.png);
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 12em center;
}

.search-bar input::placeholder {
  color: #6200EE;
  font-size: 0.75em;
}

#signIn_icon, #cart_icon {
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
  width: 1.8em;
  height: 1.8em;
  filter: brightness(0) invert(1);
}

/* Styling for side nav */

.side-nav {
  top: 3em;
  display: inline-block;
  padding: 1em;
  position: sticky;
  background-color: #F8F8FF;
}

.side-nav h3 {
  color: #24292e;
  padding: 1em;
  font-size: 0.9em;
  padding-top: 1em;
  font-size: 1em;
}

.side-nav ul {
  list-style-type: none;
}

.side-nav li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.9em;
}

.side-nav a {
  font-size: 1em;
  color: #0000C9;
  margin: 2em 1em;
}

.side-nav a:hover {
  text-decoration: underline;
}

.side-nav .dividing-area {
  margin: 2em 0;
  border-bottom: thin solid #d1d5da;
}

/* Styling for styleGuide content */

.styleGuide {
  padding: 1em 6em;
  color: #2f363d;
}

.styleGuide h2 {
  padding-top: 1.5em;
  font-size: 2em;
  border-bottom: thin solid #d1d5da;
}

.styleGuide h3 {
  padding: 2em 0 0 0;
  font-size: 1.3em;
}

/* Styling for product list */

.product-list {
  height: 10em;
  margin: 1em;
  width: 10em;
}

/* Styling for color swatches */

.swatch {
  height: 10em;
  margin: 1em;
  width: 10em;
}

footer {
  text-align: left;
  padding: 2em;
  background-color: #6200EE;
  color: #fff;
}

footer li, h3 {
  padding: 0.5em;
  list-style: none;
}

footer a {
  color: #fff;
}

/* Use for the sample footerin style guide */

.sample-main-nav {
  width: 100%;
  background-color: #6200EE;
  padding: 1em;
  text-align: right;
}

.sample-main-nav a {
  padding: 1em;
  color: white;
}

.sample-footer {
  text-align: left;
  padding: 2em;
  background-color: #6200EE;
  color: #fff;
  height: 10em;
}

/* when the size of browser becomes smaller */

@media (max-width: 70em) {
  .side-nav {
    display: none;
  }
}

/* if the screen size is mobile size */

@media (max-width: 30em) {
  .main-nav a {
    display: none;
  }

  .search-bar input[type=text] {
    display: none;
  }
  .side-nav {
    display: none;
  }

  /* mobile menu  */
  .mobile-menu-icon {
    filter: brightness(0) invert(1);
    display: block;
  }
  .mobile-main-nav {
    display: none;
  }
}

/* large than phone size */

@media(min-width: 30em) {
  .mobile-menu-icon {
    display: none;
  }
}