/*
  STYLE GUIDE STYLING 
*/

/* For Responsive */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', ;
  height: 100%;
  /* overflow: hidden; */
}

/* Cancel the default setting of grid class */

.grid {
  justify-content: flex-start;
}

a {
  text-decoration: none;
}

section h3 {
  margin-bottom: 1em;
}

section p {
  margin-top: 0;
}

section .codearea {
  background-color: #F7F8FA;
  font-family: monospace;
  font-size: 1em;
  border: solid #E2E4E8;
  padding: 1em;
  border-width: thin;
  line-height: 1.5em;
}

section .tagName {
  color: #6200EE;
}

section .tagClass {
  color: #BA89FF;
}

section .tagValue {
  color: #009577;
}

/* Styling for styleGuide content */

.styleGuide {
  padding: 1em 6em;
  color: #2f363d;
}

.styleGuide h2 {
  padding-top: 3em;
  font-size: 2em;
  border-bottom: thin solid #d1d5da;
}

.styleGuide h3 {
  padding: 2em 0 0 0;
  font-size: 1.3em;
}

/* Styling for product list */

.product-list {
  height: 10em;
  margin: 1em;
  width: 10em;
}

.individual_product {
  position: relative;
  width: 90%;
  color: black;
  background-color: #E6E6E6;
  margin-bottom: 2em;
}

.individual_product img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.container {
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.container p {
  margin-bottom: 1em;
  cursor: pointer;
}

.container p:hover {
  text-decoration: underline;
}

.container img {
  display: inline-block;
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.price_section h2 {
  font-weight: bolder;
  color: #6200EE;
  margin-bottom: 1em;
}

.inStock_section {
  margin-top: 1em;
  margin-bottom: 1em;
}

.container button {
  margin-top: 1em;
  width: 100%;
  display: block;
  background-color: #6200EE;
  color: white;
  padding: 1em;
}

.triangle-topRight {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5em solid white;
  border-left: 5em solid transparent;
  right: 0;
}

.productTag {
  position: absolute;
  font-size: 0.8em;
  right: 1em;
  top: 1em
}

.newTriangle {
  border-top: 5em solid #03DAC6;
}

.newTag {
  color: white;
}

.saleTriangle {
  border-top: 5em solid #0000C9;
}

.saleTag {
  right: 2%;
  color: white;
}

/* INTERACTIVE ELEMENTS */

/* Styling for an in-text link */

.in-text-link {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  display: inline-block;
  color: #03DAC6;
}

/* Styling for the navigation button */

.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #ffffff;
  background-color: #6200EE;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #995DFF;
}

/* Styling for the submit/reset button */

.button-submit-reset {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: black;
  background-color: #03DAC6;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-submit-reset:hover, .button-submit-reset:focus {
  background-color: #71EFE0;
}

/* Styling for a text-input*/

.text-input {
  padding: 0.5em;
  border-color: #6200EE;
  font-size: 1em;
  color: #6200EE;
}

.text-input:hover {
  border-color: #6200EE;
}

/* Styling for a label */

.label {
  color: #6200EE;
}

/* Styling for a sign in form */

#sign-in-username {
  padding: 1em 0 1em 1em;
  display: block;
  margin-bottom: 0.5em;
}

#sign-in-password {
  padding: 1em 0 1em 1em;
  display: block;
  margin-bottom: 0.5em;
}

.sample-sign-in-button {
  padding: 1em 1em 1em 1em;
  background-color: #6200ee;
  color: white;
  border: none;
}

/* Styling for a sign up form */

#register-username, #register-email, #register-password, #register-confirm-password {
  padding: 1em 0 1em 1em;
  display: block;
  margin-bottom: 0.5em;
}

.sample-sign-up-button {
  padding: 1em 1em 1em 1em;
  background-color: #6200ee;
  color: white;
  border: none;
}

/* Styling for a payment form */

#payment-section form label {
  display: block;
  color: #444D56;
  font-size: 0.8em;
}

.sample-expire input[type=text] {
  display: inline-block;
  width: 10%;
}

#payment-section form input[type=text] {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: thin solid #444D56;
  border-radius: 0.25em;
  margin-bottom: 0.5em;
}

#payment-section form input[type=submit] {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 20%;
  background-color: #6200ee;
  color: white;
}

/* TEXT ELEMENTS */

/* Styling for a h1 */

.h1 {
  font-size: 6.4em;
  font-weight: bold;
  color: #6200EE;
}

/* Styling for a h2 */

.h2 {
  font-size: 4em;
  font-weight: bold;
  color: #6200EE;
}

/* Styling for a h3 */

.h3 {
  font-size: 3.2em;
  color: #6200EE;
}

/* Styling for a p */

.p {
  font-size: 1em;
  color: #6200EE;
}

/* Styling for a bullet list */

.bullet-list {
  padding-left: 1em;
  font-size: 1em;
  list-style-type: circle;
  color: #6200EE;
}

/* Styling for a numbered list */

.numbered-list {
  padding-left: 1em;
  font-size: 1em;
  color: #6200EE;
}

/* Styling for color parette */

.color-sample {
  margin-top: 3em;
}

.black-0, .white-0, .grey-0, .purple-0, .green-0 {
  display: inline-block;
  padding: 1em;
  text-align: center;
}

.black-0 a, .grey-0 a, .purple-0 a, .green-0 a {
  color: white;
}

.white-0 a {
  color: black;
}

.black-0 {
  background-color: black;
}

.white-0 {
  border: thin solid #f6f8fa;
  background-color: white;
}

.grey-0 {
  background-color: #6a737d;
}

.purple-0 {
  background-color: #6f42c1;
}

.green-0 {
  background-color: #28a745;
}

/* Styling for Color Variables */

#table-purple, #table-grey, #table-green {
  width: 100%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-top: 10%;
}

th {
  padding: 2em 5em;
}

td {
  padding: 0 5em;
}

.table-data-left, .table-data-right {
  width: 50%;
  padding: 0.5em 1.5em;
}

/* The color vaiable for grey */

.font-black {
  color: black;
}

.font-white {
  color: white;
}

.grey-title-color {
  background-color: #6a737d;
}

.grey-000 {
  background-color: #fafbfc;
}

.grey-100 {
  background-color: #f6f8fa;
}

.grey-200 {
  background-color: #e1e4e8;
}

.grey-300 {
  background-color: #d1d5da;
}

.grey-400 {
  background-color: #959da5;
}

.grey-500 {
  background-color: #6a737d;
}

.grey-600 {
  background-color: #586069;
}

.grey-700 {
  background-color: #444d56;
}

.grey-800 {
  background-color: #2f363d;
}

.grey-900 {
  background-color: #24292e;
}

/* The color vaiable for purple */

.purple-title-color {
  background-color: #6200ee;
}

.purple-000 {
  background-color: #fbd5ff;
}

.purple-100 {
  background-color: #dab2ff;
}

.purple-200 {
  background-color: #ba89ff;
}

.purple-300 {
  background-color: #995dff;
}

.purple-400 {
  background-color: #7e39fb;
}

.purple-500 {
  background-color: #6200ee;
}

.purple-600 {
  background-color: #5400e8;
}

.purple-700 {
  background-color: #3f00df;
}

.purple-800 {
  background-color: #2500d7;
}

.purple-900 {
  background-color: #0000c9;
}

/* The color vaiable for green */

.green-title-color {
  background-color: #71efe0;
}

.green-000 {
  background-color: #a8fffb;
}

.green-100 {
  background-color: #71efe0;
}

.green-200 {
  background-color: #03dac6;
}

.green-300 {
  background-color: #00c4ab;
}

.green-400 {
  background-color: #00b398;
}

.green-500 {
  background-color: #00a284;
}

.green-600 {
  background-color: #009577;
}

.green-700 {
  background-color: #008466;
}

.green-800 {
  background-color: #007457;
}

.green-900 {
  background-color: #005739;
}

/* COMBINED ELEMENTS */

/* Styling for mobile main nav */

.mobile-menu-icon {
  display: none;
}

/* Styling for main nav */

.styleGuide h1 {
  padding-top: 2em;
  font-size: 3em;
}

.main-nav {
  width: 100%;
  position: fixed;
  background-color: #6200EE;
  padding: 1.5em 1em;
  text-align: right;
  z-index: 1;
}

.main-nav a {
  padding: 1em;
  color: white;
  font-size: 0.9em;
}

/* Styleing for website icon */

#website_icon img {
  width: 2.8em;
  height: 3em;
  position: absolute;
  top: 0.7em;
  left: 2em;
}

/* Styleing for search bar */

.search-bar {
  position: absolute;
  top: 0.5em;
  left: 6em;
}

.search-bar input[type=text] {
  outline: none;
  border-style: hidden;
  margin-top: 0.5em;
  padding: 0.5em 3.5em 0.5em 0.5em;
  background-image: url(../img/icon/search.png);
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 12em center;
}

.search-bar input::placeholder {
  color: #6200EE;
  font-size: 0.75em;
}

#signIn_icon, #cart_icon {
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
  width: 1.8em;
  height: 1.8em;
  filter: brightness(0) invert(1);
}

/* Styling for side nav */

.side-nav {
  top: 4.5em;
  display: inline-block;
  padding: 1em;
  position: sticky;
  background-color: #F8F8FF;
}

.side-nav h3 {
  color: #24292e;
  padding: 1em;
  font-size: 0.9em;
  padding-top: 1em;
  font-size: 1em;
}

.side-nav ul {
  list-style-type: none;
}

.side-nav li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.9em;
}

.side-nav a {
  font-size: 1em;
  color: #0000C9;
  margin: 2em 1em;
}

.side-nav a:hover {
  text-decoration: underline;
}

.side-nav .dividing-area {
  margin: 2em 0;
  border-bottom: thin solid #d1d5da;
}

/* Site map */

.site-map-area {
  width: 30vh;
  height: auto;
}

.site-map-area img {
  padding-top: 2em;
  padding-bottom: 2em;
}

.side-nav .side-sitemap {
  color: #24292e;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0;
  font-size: 1em;
  margin: 0;
}

/* Grid items for sample structure  */

.sample-grid-item-left {
  height: 13.33em;
  flex: 1 1 20%;
  background-color: #6A737D;
}

.sample-grid-item-right {
  height: 13.33em;
  flex: 1 1 80%;
  background-color: #24292E;
}

footer {
  /* width: 100%; */
  text-align: left;
  padding: 2em;
  background-color: #6200EE;
  color: #fff;
}

footer li, h3 {
  padding: 0.5em;
  list-style: none;
}

footer a {
  color: #fff;
}

/* Use for the sample footerin style guide */

.sample-main-nav {
  width: 100%;
  background-color: #6200EE;
  padding: 1em;
  text-align: right;
}

.sample-main-nav a {
  padding: 1em;
  color: white;
}

.sample-footer {
  text-align: left;
  padding: 2em;
  background-color: #6200EE;
  color: #fff;
  height: 10em;
}

.mobile-main-nav {
  display: none;
}

/* when the size of browser becomes smaller */

@media (max-width: 80em) {
  .mobile-menu-icon {
    display: none;
  }
  .mobile-main-nav {
    display: none;
  }
  .grid-col-1of5 {
    flex: 1 1 15%;
  }
  .grid-col-4of5 {
    flex: 1 1 85%;
  }
  .styleGuide {
    padding: 1em;
  }
  #footer_top, #footer_center, #footer_bottom {
    display: block;
  }
}

@media (max-width: 78em) {
  .main-nav {
    padding: 2em 1em;
  }
  .main-nav a {
    padding: 0;
    display: none;
  }
  #website_icon {
    display: block;
  }
  #website_icon img {
    width: 2.8em;
    height: 3em;
    position: absolute;
    top: 0.7em;
    left: 1em;
  }
  .side-nav {
    display: none;
  }
  /* mobile menu icon */
  .mobile-menu-icon {
    cursor: pointer;
    position: absolute;
    width: 1.8em;
    height: 1.8em;
    top: 1em;
    right: 2em;
    filter: brightness(0) invert(1);
    display: block;
  }
  /* mobile menu  */
  .mobile-main-nav {
    overflow: scroll;
    height: 100%;
    width: 30%;
    cursor: pointer;
    list-style: none;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: #F8F8FF;
  }
  .search-bar {
    position: absolute;
    top: 0.5em;
    left: 20%;
  }
  .search-bar input[type=text] {
    padding: 0.4em;
    background-image: none;
  }
  .search-bar input::placeholder {
    font-size: 0.75em;
  }
  .mobile-main-nav ul {
    list-style: none;
  }
  .mobile-main-nav li {
    padding: 1em;
    /* border-bottom: white solid thin; */
  }
  .mobile-top {
    background-color: #5400E8;
  }
  .mobile-top a {
    display: block;
    color: white;
  }
  .mobile-bottom a {
    color: black;
  }
  .mobile-bottom-heading {
    color: #6200EE;
  }
  .side-nav {
    display: none;
  }
  .footer-grid-col-1of5 {
    text-align: center;
    flex: 1 1 100%;
  }
  a:hover {
    text-decoration: underline;
  }
  #footer_center_section {
    margin-top: 1em;
  }
  #footer_bottom_section {
    margin-top: 1em;
  }
  .h1 {
    font-size: 2em;
  }
  /* Styling for a h2 */
  .h2 {
    font-size: 1em;
  }
  /* Styling for a h3 */
  .h3 {
    font-size: 0.8em;
  }
  pre {
    white-space: normal;
  }
  #table-purple, #table-grey, #table-green {
    margin-left: 5%;
    padding-bottom: 10%;
  }
  .styleGuide h1 {
    margin-top: 0;
    padding-top: 1.5em;
  }
  .grid-col-1of2_noHeight {
    flex: 1 1 100%;
  }
}