/* Styling for the orderComplete page */
.main-nav {
  position: static;
  margin-bottom: 3em;
}

.order-information{
  height: 100vh;
  text-align: center;
}

.order-content {
  margin-top: 15em;
}

.order-content p {
  margin-bottom: 1em;
}

.order-content a {
  color: black;
}

/* When mouse move to a tag, the color of a tag changes and it has underline */
.order-content a:hover {
  border-bottom: thin solid #00C4AB;
  color: #00C4AB;
}


footer {
  margin-top: 4em;
}