.main-nav {
  position: static;
  margin-bottom: 3em;
}

.order-information{
  height: 100vh;
  text-align: center;
}

.order-content {
  margin-top: 15em;
}

.order-content p {
  margin-bottom: 1em;
}

.order-content a {
  color: black;
}

.order-content a:hover {
  border-bottom: thin solid black;
}


footer {
  margin-top: 4em;
}