/* styling for main nav */

.main-nav {
    position: static;
    margin-bottom: 3em;
}

/* styling about-us item */

.individual_product {
    display: inline-block;
    width: 100%;
    height: 15em;
    color: white;
    /* box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 5em;
    /* border: thin solid black; */
}

.individual_product img {
    width: 90%;
    height: 20em;
    margin: 1em;
    /* border: thin solid black; */
    object-fit: cover;
}
#sketch-image {
    border: thin solid black;
}

/* styling tech spec */

.tech_spec {
    display: inline-block;
    /* height: 20em; */
    padding:1em;
    /* border: thin solid black; */
    /* vertical-align: center; */
    text-align: left;
}

.tech_spec h1 {
    margin: 0;
    margin-bottom: 1em;
    color: #6200EE;
}

.tech_spec p {
    color: black;
    margin-bottom: 2em;
}

footer {
    margin-top: 5em;
}