/*
  SIGN IN STYLING 
*/

body {
  font-family: sans-serif;
  height: 100%;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  /* border-top: 1px solid #333; */
}

section h3 {
  margin-bottom: 1em;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0;
}


/* Styling for main nav */

.main-nav {
  width: 100%;
  position: fixed;
  background-color: #6200EE;
  padding: 1.5em 1em;
  text-align: right;
  z-index: 10;
}

.main-nav a {
  padding: 1em;
  color: white;
  font-size: 0.9em;
}

.sample-main-nav {
  width: 100%;
  background-color: #6200EE;
  padding: 1em;
  text-align: right;
}

.sample-main-nav a {
  padding: 1em;
  color: white;
}

/* Styleing for search bar */
.search-bar {
  position: absolute;
  text-align: left;
  top: 0.5em;
  left: 2em;
}

.search-bar input {
  border-style: hidden;
  border-radius: 0.5em;
  margin-top: 0.5em;
  padding: 0.5em 3.5em 0.5em 0.5em;
}

.search-bar input::placeholder {
  color: #6200EE;
  font-size: 0.75em;
}


/* Styling for sign-in content */

.sign-in {
  margin-top: 2em;
  padding: 1em 6em;
  color: 	#2f363d;
}

.sign-in h2 {
  color: #6200EE;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 2em;
  border-bottom: thin solid #d1d5da;
}

.sign-in h3 {
  padding: 2em 0 0 0;
  font-size: 1.3em;
}

.sign-in-content {
  text-align: center;
}

.sign-in-username, .sign-in-password {
  padding-top: 2em;
}

.sign-in-username img, .sign-in-password img{
  width: 10%;
  height: 10%;
}

.sign-in-username input, .sign-in-password input {
  padding: 1em 3em 0 0;
  font-size: 2em;
  border: thin solid #71EFE0;
}

.sign-in-username ::placeholder, .sign-in-password ::placeholder {
  color: #6200EE;
}

.register-link {
  padding-top: 2em;
}

.register-link a {
  color: #71EFE0;
}

.login-button {
  padding-top: 2em;
}

.login-button input {
  font-size: 1.2em;
  padding: 0.5em 1.5em;
  border: thin solid #71EFE0;
  background-color: #6200EE;
  color: white;
  border-radius: 0.25em;
}


/* when the size of browser becomes smaller */

@media (max-width: 70em) {
  .side-nav {
    display: none;
  }
}


/* if the screen size is mobile size */

@media (max-width: 30em) {
  .main-nav a {
    display: none;
  }
  .side-nav {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
}

@media(min-width: 30em) {
  .mobile-menu-icon {
    display: none;
  }
}