/* Styling for payment content */

.payment {
  margin-top: 2em;
  padding: 1em 6em;
  color: 	#2f363d;
}

.payment h2 {
  color: #6200EE;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 2em;
  border-bottom: thin solid #d1d5da;
}

.payment h3 {
  padding: 2em 0 0 0;
  font-size: 1.3em;
}

/* Learn from https://codepen.io/imohkay/pen/QwjwwY/ */
.billing-info {
  display: inline-block;
  border: thin solid black;
}

.credit-card-info {
  display: inline-block;
  border: thin solid black;
}

.payment-content label {
  display: block;
}

.billing-info input[type=text] {
  padding: 1em 3em 1em 1em;
  border: thin solid #6200EE;
  border-radius: 0.25em;
  color: #6200EE;
}

.billing-info label {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
  color: #6200EE;
}

.credit-card-info .card-and-icon {
  display: inline-flex;
  flex-direction: row;
}

.credit-card-info .card-and-icon img{
  width: 2.5em;
  height: 2.5em;
  border: thin solid #6200EE;
  float: right;
}