body {
  /* background-image: url(../img/payment-wallpaper.jpeg);
  background-size: contain; */
  background-color: #F8F8FF;
}

.main-nav {
  position: static;
  margin-bottom: 3em;
}

/* For the payment web page */

.payment-block {
  background-color: white;
}

/* --------- Receipt Information Area --------- */

.receipt-area {
  text-align: left;
  background-color: white;
  /* border-bottom: thin solid #E1E4E8; */
}

.receipt-detail-left {
  text-align: left;
  padding-left: 4em;
  font-weight: lighter;
  font-style: italic;
  color: #444D56;
}

.receipt-detail-right {
  text-align: right;
  padding-right: 4em;
}

.receipt-area h3 {
  font-weight: lighter;
  font-size: 1.3em;
  color: #444D56;
}

.receipt-total {
  padding-top: 1.5em;
  font-weight: bold;
  padding-bottom: 2em;
}

.receipt-total-money {
  padding-top: 1.5em;
  font-weight: bold;
}

/* ------------------ Payment Area -------------------- */

/* .payment{
  text-align: center;
} */

.payment h3 {
  font-weight: lighter;
  font-size: 1.3em;
  color: #444D56;
}

.payment-detail {
  display: block;
  text-align: left;
}

.credit-name {
  margin-left: 3em;
  margin-right: 3em;
}

.credit-name label {
  font-size: 0.8em;
  color: #444D56;
  margin-top: 3em;
}

.credit-name input[type=text] {
  border: thin solid #444D56;
  border-radius: 0.25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.card-line {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1em;
}

.card-line-border {
  border: thin solid #444D56;
  border-radius: 0.25em;
  width: 100%;
  text-align: left;
}

.card-line-border input[type=text] {
  margin-bottom: 0;
  border: none;
  width: 80%;
  padding-left: 1em;
}

.card-line-border .credit-card-image {
  text-align: right;
  vertical-align: middle;
  display: inline;
}

.card-line-border img {
  width: 10%;
  height: 10%;
  text-align: right;
}

.card-line label {
  font-size: 0.8em;
  color: #444D56;
  margin-top: 3em;
}

.expire-data {
  margin-left: 3em;
  margin-right: 3em;
}

.expire-data label {
  font-size: 0.8em;
  color: #444D56;
  margin-top: 3em;
}

.expire-left {
  display: inline-block;
  border: thin solid #444D56;
  border-radius: 0.25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  margin-bottom: 1em;
  width: 45%;
}

.expire-right {
  display: inline-block;
  border: thin solid #444D56;
  border-radius: 0.25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  margin-bottom: 1em;
  width: 45%;
  float: right;
}

.cvc-area {
  margin-left: 3em;
  margin-right: 3em;
}

.cvc-area label {
  font-size: 0.8em;
  color: #444D56;
  margin-top: 3em;
  width: 100%;
}

.cvc-area input[type=text] {
  border: thin solid #444D56;
  border-radius: 0.25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  margin-bottom: 1em;
  width: 45%;
  display: block;
}

/* ------------- Pay Button ------------- */

.pay-button {
  margin: 2em 3em;
}

button {
  border-style: hidden;
  background-color: #6200ee;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  margin-bottom: 1em;
  width: 100%;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.4);
}

footer {
  margin-top: 4em;
}