/* styling for the button and body background color */

button {
    cursor: pointer;
}

html {
    background-color: #F8F8FF;
}

/* styling for main nav */

.main-nav {
    position: absolute;
    top: 0;
}

/* styling left side of the container */

.product_container {
    height: 80%;
    margin-top: 10em;
    margin-bottom: 4em;
}

.individual_product {
    /* styling the image container position to releative */
    position: relative;
    background-color: white;
}

.triangle-topRight {
    /* styling the triangle */
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5em solid #03DAC6;
    border-left: 5em solid transparent;
    right: 0;
}

.productTag {
    /* styling the tag */
    color: white;
    position: absolute;
    font-size: 1em;
    right: 0.8em;
    top: 1em
}

#productImage {
    /* styling the current product image */
    width: 100%;
    height: 70vh;
    padding-bottom: 5em;
}

#productImage_one, #productImage_two, #productImage_three {
    /* styling the image gallery */
    position: absolute;
    width: 20%;
    height: 20%;
    cursor: pointer;
}

#productImage_one:hover, #productImage_two:hover, #productImage_three:hover {
    filter: grayscale(0%)!important;
}

#productImage_one {
    bottom: 0;
    left: 0;
}

#productImage_two {
    bottom: 0;
    left: 20%;
    filter: grayscale(100%);
}

#productImage_three {
    bottom: 0;
    left: 40%;
    filter: grayscale(100%);
}

/* styling right side of the container */

.tech_spec {
    background-color: #E6E6E6;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5%;
}

#tech_spec_heading {
    font-family: sans-serif;
    margin-bottom: 1em;
}

.tech_spec button, .tech_spec a {
    padding: 1em;
    background-color: #6200EE;
    color: white;
    outline: none;
    border: none;
}

.tech_spec button:hover, .tech_spec a:hover {
    filter: brightness(1.4);
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    /* enable number picker button always appear  */
    opacity: 1;
}

#product_price {
    width: 1em;
    height: 1em;
}

#deals_price {
    color: #6200EE;
    width: 1em;
    height: 1em;
}

#qty_label {
    margin-top: 1em;
}

#product_qty {
    margin-top: 1em;
    text-align: center;
    font-size: 1.5em;
}

.inStock_section label {
    margin-top: 1em;
}

.inStock_section img {
    /* styling the in stock icon */
    margin-top: 1em;
    width: 1em;
    height: 1em;
}

#product_one_button {
    margin-top: 1em;
    font-family: sans-serif;
}

#product_two_button {
    margin-top: 1em;
    font-family: sans-serif;
}

#product_three_button {
    margin-top: 1em;
    font-family: sans-serif;
}

#product_one_content {
    margin-top: 1em;
    padding-right: 1em;
}

#product_two_content {
    margin-top: 1em;
    margin-left: 1.5em;
    display: none;
}

#product_three_content {
    margin-top: 1em;
    margin-left: 1.5em;
    display: none;
}

#add_button, #review_button {
    font-family: sans-serif;
}

#add_button {
    text-align: center;
    display: block;
    margin-top: 1em;
}

#review_button {
    text-align: center;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #03DAC6;
}

/* styling comment section */

/* styling top of the comment */

.reviews_total {
    font-family: sans-serif;
    padding-bottom: 1em;
    border-bottom: grey solid thin;
}

.reviews_total h1 {
    margin-bottom: 0.5em;
}

.star_group img {
    width: 1.5em;
    height: 1.5em;
}

#reviews_grades {
    display: inline;
    padding-left: 1em;
    font-size: 1.5em;
}

#reviews_numbers {
    margin-top: 1em;
    color: grey;
}

/* styling bottom of the comment */

.comment {
    margin-top: 2em;
}

.comment_profile_section {
    position: relative;
    margin-bottom: 1em;
}

.comment_profile {
    width: 4em;
    height: 4em;
}

.comment_name {
    position: absolute;
    display: inline;
    left: 15%;
    top: 30%;
}

.comment_star_groups {
    margin-bottom: 1em;
}

.comment_star_groups img {
    width: 1em;
    height: 1em;
}

.star_caption {
    display: inline;
    font-weight: bold;
    padding-left: 0.5em;
}

.comment_time {
    color: grey;
    margin-bottom: 0.5em;
}

#second_comment {
    padding-bottom: 2em;
    border-bottom: grey solid thin;
}

/* styling write comment section */

.write_comment {
    margin-top: 1em;
}

.write_comment h3 {
    padding: 0;
}

.write_comment .comment_star_groups {
    cursor: pointer;
}

#write_comment_heading1 h3 {
    font-family: sans-serif;
}

#write_comment_heading2 h3 {
    font-family: sans-serif;
}

#write_comment_heading3 h3 {
    font-family: sans-serif;
}

#write_comment_heading3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

#write_comment_heading3 textarea {
    width: 100%;
    outline: none;
}

#write_comment_button {
    outline: none;
    background-color: #6200EE;
    color: white;
    padding: 0.5em;
}

#write_comment_button:hover {
    filter: brightness(1.4);
}

/* styling footer */

footer {
    margin-top: 12em;
}

@media (max-width: 76.875em) {
    .grid-col-1of3_noHeight {
        margin-left: 10%;
        margin-right: 10%;
        flex: 1 1 100%;
    }
    .product_container {
        height: 50%;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .grid-col-1of2_noHeight {
        flex: 1 1 100%;
    }
    #productImage{
        padding:0 ;
        height: 50vh;
    }
    #productImage_one {
        left: 10%;
        bottom: 0%;
    }
    #productImage_two {
        left: 30%;
        bottom: 0%;
    }
    #productImage_three {
        left: 50%;
        bottom: 00%;
    }
    #tech_spec_heading {
        font-size: 1em;
    }
    #product_price {
        display: none;
    }
    #product_one_button, #product_two_button, #product_three_button {
        display: none;
    }
    #product_one_content, #product_two_content, #product_three_content {
        display: none;
    }
    #add_button, #review_button {
        font-size: 1em;
    }
    #deals_price {
        color: #6200EE;
        font-size: 1em;
    }
    #product_qty {
        font-size: 1em;
    }
    .bottom_part {
        margin-top: 4em;
    }
    #comment_heading {
        font-size: 1.5em;
    }
    #reviews_grades {
        display: block;
        padding-left: 0;
    }
    #write_comment_heading2 input {
        width: 100%;
    }
    #write_comment_heading3 textarea {
        width: 100%;
    }
    .grid-col-1of5_noHeight {
        flex: 1 1 100%;
    }
    .grid-col-3of5_noHeight {
        flex: 1 1 100%;
    }
    #comment_area {
        margin-bottom: 10em;
    }
    .comment_name {
        left: 30%;
    }
    footer {
        margin-top: 5em;
    }
}