button {
    cursor: pointer;
}

html {
    background-color: #F8F8FF;
}

/* styling for main nav */

.main-nav {
    position: static;
    margin-bottom: 3em;
}

/* styling product item */

.product_container {
    position: relative;
}

.individual_product {
    position: relative;
    background-color: white;
}

.triangle-topRight {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5em solid #03DAC6;
    border-left: 5em solid transparent;
    right: 0;
}

.productTag {
    color: white;
    position: absolute;
    font-size: 1em;
    right: 0.8em;
    top: 1em
}

.inStock_section img {
    width: 1em;
    height: 1em;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

#productImage {
    width:100%;
    height: 100%;
}

/* styling tech spec */

#product_two_content, #product_three_content {
    display: none;
}

.tech_spec {
    background-color: #E6E6E6;
    position: abosoulte;
    padding-left: 4em;
}

.tech_spec button, .tech_spec a {
    padding: 1em;
    background-color: #6200EE;
    color: white;
}

.tech_spec button:hover, .tech_spec a:hover {
    filter: brightness(1.4);
    outline: none;
}

#product_price {
    margin-top: 1em;
    color: #6200EE;
}

/* styling comment section */

.comment_area h1 {
    color: #6200EE;
}

.comment_area textarea {
    border-color: #6200EE;
    text-align: left;
    margin: 1em;
    color: #6200EE;
    padding: 1em;
    width: 100%;
}

.comment_area h2 {
    color: #6200EE;
}

.comment_area button {
    float: right;
    padding: 1em;
    background-color: #6200EE;
    color: white;
}