/* Styling for sign-in content */

.main-nav {
  position: static;
}

body {
  background-color: #F8F8FF;
}

.sign-up {
  color: #2f363d;
  width: 60%;
  padding-left: 6em;
  padding-right: 6em;
  position: absolute;
  top: 50%;
  margin: -10em 0 0 0;
}

.sign-up h2 {
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.sign-up h3 {
  padding-left: 0;
  font-size: 1.2em;
  font-weight: lighter;
  margin-bottom: 0.5em;
}

.sign-up-content input[type=text] {
  width: 100%;
  height: 4em;
  margin-bottom: 1em;
  border: thin solid #959da5;
  /* border-radius: 0.25em; */
  font-size: 0.9em;
}

.sign-up-content input[type=password] {
  width: 100%;
  height: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: thin solid #959da5;
  /* border-radius: 0.25em; */
  font-size: 0.9em;
}

.email-input {
  width: 100%;
  height: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: thin solid #959da5;
  /* border-radius: 0.25em; */
  font-size: 0.9em;
}

.sign-up-content .sign-up-button {
  text-align: center;
}

.sign-up-content button {
  width: 35%;
  height: 3.5em;
  margin-top: 1em;
  background-color: #6200EE;
  color: white;
  font-weight: lighter;
}

.sign-up-content button:hover {
  filter: brightness(1.4);
}

.sign-up-content input::placeholder {
  color: #959da5;
  padding-left: 1em;
}

.register-link {
  text-align: right;
  padding-right: 1em;
}

.register-link button {
  margin-top: 1em;
  padding: 0.25em 0.5em;
  border: thin solid #959da5;
  border-radius: 2em;
  color: #007457;
}

.video-area {
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------- The line below for sign up part ---------- */

.sign-up-form {
  margin-top: 1em;
  display: none;
}

.sign-up-form input[type=text], .sign-up-form input[type=password] {
  text-align: left;
  width: 30%;
  padding: 0.5em 0 0.5em 1em;
  margin-top: 1em;
  border: thin solid #959da5;
  border-radius: 0.5em;
}

button {
  cursor: pointer;
}

/* For the responsive page */
@media (max-width: 60em) {
  .video-area {
    display: none;
  }

  .sign-up {
    width: 100%;
    height: 100%;
    margin: 15em 0;
    position: static;
  }
}

@media (max-width: 30em) {
  .sign-up-page-area {
    font-size: 80%;
  }
}

@media (max-width: 23em) {
  .sign-up-page-area {
    font-size: 60%;
  }
}