/* Styling for sign-in content */

body {
  background-color: rgb(136, 67, 233);
}

.sign-up {
  margin-top: 2em;
  padding: 1em 6em;
  color: 	#2f363d;
}

.sign-up h2 {
  color: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 2em;
  border-bottom: thin solid #d1d5da;
}

.sign-up h3 {
  padding: 2em 0 0 0;
  font-size: 1.3em;
}

.sign-up-content {
  text-align: center;
  background-color: #6200EE;
  box-shadow: 0 0 1em rgb(27, 25, 25);
}

.sign-up-content input[type=text] {
  width: 25em;
  height: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #6200EE;
  /* border-style: hidden; */
  border-radius: 0.3em;
  border: thin solid white;
}

.sign-up-content input[type=password]{  
  width: 25em;
  height: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color:#6200EE;
  /* border-style: hidden; */
  border-radius: 0.3em;
  border: thin solid white;
}

.sign-up-content input[type=submit] {
  width: 25em;
  height: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #6200EE;
  color: white;
  border-radius: 0.3em;
}

.sign-up-content input::placeholder {
  color: white;
  padding-left: 1em;
}

.sign-up-agree {
  text-align: left;
  padding-left: 5em;
}

.sign-up-content input[type=checkbox] {
  margin-top: 1em;
  margin-bottom: 1em;
}

.sign-up-content label {
  padding-left: 0.5em;
  font-size: 0.9em;
  color: white;
}

