/* styling main nav */

.main-nav {
    position: static;
    margin-bottom: 3em;
}

body {
    background-color: rgb(245, 245, 245);
}

/* styling product item */
.shopping-cart-area {
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 3em;
    background-color: white;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.shopping-cart-area h3 {
    font-size: 1.6em;
    padding-left: 0;
    margin-bottom: 0;
    z-index: 10;
    position: relative;
}

/* Grid for the layout of item information */
/* Start of items area */
.item-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr;
}

.item-image {
    grid-row: 1 / span 4;
    grid-template-columns: 1 / 2;
    width: 15em;
    height: 15em;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#item-one img {
    width: 80%;
    height: auto;
    margin-left: 1.5em;
    margin-top: -0.5em;
}

#item-two img {
    margin-top: -2em;
}

#item-three img {
    margin-top: -1em;
}

.item-name {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-left: 1em;
    border-bottom: thin solid #E1E4E8;
}

.item-name p {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 1em;
}

.item-price-origin {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    border-bottom: thin solid #E1E4E8;
}

.item-price-origin p {
    font-size: 1.2em;
    padding-top: 1em;
    font-weight: lighter;
    color: #6A737D;
}

.item-amount {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    border-bottom: thin solid #E1E4E8;
}

.item-amount input[type=number]{
    width: 50%;
    margin-top: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.25em;
    border: thin solid #6A737D;
    text-align: center;
}

.item-amount input[type=number]::-webkit-inner-spin-button,.item-amount input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.item-price {
    grid-row: 1 / 2;
    grid-column: 5 / 6;
    border-bottom: thin solid #E1E4E8;
    text-align: right;
}

.item-price p {
        font-size: 1.2em;
        padding-top: 1em;
        font-weight: bold;
}

.item-detail {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-left: 1em;
}

.item-detail p {
    font-size: 0.9em;
    font-weight: lighter;
    padding-top: 1em;
}

.item-remove {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    text-align: right;
    cursor: pointer;
}

.item-remove button {
    padding-top: 1em;
    color: #6200EE;
    background-color: white;
    border-style: hidden;
    cursor: pointer;
}
/* End of items area */

/* The total information area */
.item-total {
    text-align: right;
    margin-top: 4em;
}

.total-content, .total-number {
    display: inline-block;
    border-bottom: thin solid #E1E4E8;
    padding-bottom: 1em;
}

.total-number {
    padding-left: 4em;
}

.shipping {
    color: #6200EE;
}

.total-price {
    text-align: right;
    margin-top: 2em;
    padding-bottom: 1em;
    border-bottom: thin solid #E1E4E8;
}

.total-price .total-content, .total-price .total-number {
    border: none;
}

.total-price .total-content p, .total-price .total-number p{
    font-size: 1.2em;
    font-weight: bold;
}

/* The button jump to payment page */
#pay-button {
    text-align: right;
}

.pay-button {
    margin-top: 2em;
    display: inline-block;
}

.button-left {
    margin-right: 2em;
}

.pay-button button {
    border: none;
    padding: 0.5em 1em;
    color: white;
    cursor: pointer;
}

#guest_pay {
    background-color: #009577;
}

#user_pay {
    background-color: #6200ee;
}

/* Empty Warning */
#empty-warning {
    display: none;
    height: 50vh;
    text-align: center;
    margin-top: 10rem;
}

#empty-warning p {
    font-size: 1.8em;
    color: #6200ee;
}

#empty-warning a {
    color: #03DAC6;
    border-bottom: thin solid #03DAC6;
}


/* For the responsive page */
@media (max-width: 70em) {
    .shopping-cart-area {
        font-size: 70%;
    }
}

@media (max-width: 50em) {
    .item-container {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
    }

    .item-name {
        border-bottom: none;
    }

    .item-price-origin {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        font-size: 80%;
        margin-left: 1.2em;
        border: none;
    }

    .item-amount {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        border: none;
        text-align: right;
        font-size: 80%;
    }

    .item-amount input[type=number] {
        width: 20%;
    }

    .item-price {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        border: none;
        text-align: left;
        font-size: 80%;
        margin-left: 1em;
    }

    .item-remove {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        text-align: left;
        margin-left: 1em;
        font-size: 80%;
        border-bottom: thin solid #E1E4E8;
    }
}

@media (max-width: 38em) {
    .shopping-cart-area {
        margin-left: 1em;
        margin-right: 1em;
    }

    .item-container {
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: 1fr;
    }
    .item-name {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
        margin-left: 1em;
        border-bottom: none;
    }

    .item-detail {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
        margin-left: 1em;
    }

    .item-price-origin {
        grid-row: 7 / 8;
        grid-column: 1 / 2;
        font-size: 80%;
        margin-left: 1.2em;
        border: none;
    }

    .item-amount {
        grid-row: 7 / 8;
        grid-column: 1 / 2;
        border: none;
        text-align: right;
        font-size: 80%;
    }

    .item-amount input[type=number] {
        width: 20%;
        font-size: larger;
    }

    .item-price {
        grid-row: 8 / 9;
        grid-column: 1 / 2;
        border: none;
        text-align: right;
        font-size: 80%;
        margin-left: 1em;
    }

    .item-remove {
        grid-row: 9 / 10;
        grid-column: 1 / 2;
        text-align: right;
        margin-left: 1em;
        font-size: 80%;
        border-bottom: thin solid #E1E4E8;
    }

    #empty-warning p {
        font-size: 90%;
    }
    
    #empty-warning a {
        font-size: 90%;
    }
}

