/* styling main nav */

.main-nav {
    position: static;
}

body {
    background-color: #F8F8FF;
}

/* styling for all checkboxs and their labels */

input[type="checkbox"]:hover {
    cursor: pointer;
}

label {
    cursor: pointer;
}

#event_heading {
    text-align: center;
}

.shop_deals_intro {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 2em;
}

/* styling product item */

.individual_product {
    position: relative;
    width: 90%;
    color: black;
    background-color: #E6E6E6;
    /* box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 2em;
}

.individual_product img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.container .stock_image {
    cursor: default;
}

.container {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.container p {
    margin-bottom: 1em;
    cursor: pointer;
}

.container p:hover {
    text-decoration: underline;
}

.container .save_amount {
    cursor: default;
}

.container .save_amount:hover {
    text-decoration: none;
}

.container img {
    display: inline-block;
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.price_section h2 {
    font-weight: bolder;
    color: #6200EE;
    margin-bottom: 1em;
}

.inStock_section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.container button {
    margin-top: 1em;
    width: 100%;
    display: block;
    background-color: #6200EE;
    color: white;
    padding: 1em;
    cursor: pointer;
}

.container button:hover {
    filter: brightness(1.4);
}

.triangle-topRight {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5em solid white;
    border-left: 5em solid transparent;
    right: 0;
}

.productTag {
    position: absolute;
    font-size: 0.8em;
    right: 1em;
    top: 1em
}

.newTriangle {
    border-top: 5em solid #03DAC6;
}

.newTag {
    color: white;
}

.saleTriangle {
    border-top: 5em solid #6200EE;
}

.saleTag {
    right: 2%;
    color: white;
}

@media (max-width: 37.25em) {
    .grid-col-1of5_noHeight {
        flex: 1 1 100%;
    }
    .individual_product {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        ;
    }
    #event_heading {
        font-size: 2em;
    }
    .shop_deals_intro {
        margin-left: 10%;
        margin-right: 10%;
    }
}