/* styling main nav */

.main-nav {
    position: static;
    margin-bottom: 3em;
}

/* add background color to background */

body {
    background-color: #F8F8FF;
}

/* styling for all the buttons */

button {
    cursor: pointer;
}

button:hover {
    filter: brightness(1.4);
}

/* styling for side filter  */

.side_filter {
    padding-right: 1em;
    padding-left: 1em;
}

.side_filter section {
    margin: 0;
    background-color: #E6E6E6;
    margin-bottom: 2em;
}

#priceList, #factoryList {
    padding-bottom: 1em;
}

.side_filter_category ul {
    list-style: none;
    padding-left: 1em;
    padding-top: 1em;
}

.side_filter_category li {
    padding-bottom: 2em;
}

.side_filter_factory div, .side_filter_price div {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
}

/* styling for show filter button */

.showFilterButton {
    background-image: url(../img/icon/up.png);
    background-size: 0.8em 0.8em;
    background-repeat: no-repeat;
    background-position: 95% center;
    text-align: left;
    width: 100%;
    font-size: 1em;
    background-color: #6200EE;
    color: white;
    padding: 1em;
    border: none;
}

/* styling for view all button */

.viewAllButton {
    margin-left: 1em;
    border: none;
    background-color: transparent;
    outline: none;
}

/* styling product item */

.individual_product {
    position: relative;
    width: 90%;
    color: black;
    background-color: #E6E6E6;
    margin-bottom: 2em;
}

.individual_product img {
    width: 100%;
    height: 100%;
}

.container {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.container p {
    margin-bottom: 1em;
}

.container img {
    display: inline-block;
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.price_section h2 {
    font-weight: bolder;
    color: #6200EE;
    margin-bottom: 1em;
}

.inStock_section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.container button {
    margin-top: 1em;
    width: 100%;
    display: block;
    background-color: #6200EE;
    color: white;
    padding: 1em;
}

.triangle-topRight {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5em solid white;
    border-left: 5em solid transparent;
    right: 0;
}

.productTag {
    position: absolute;
    font-size: 0.8em;
    right: 1em;
    top: 1em
}

.newTriangle {
    border-top: 5em solid #03DAC6;
}

.newTag {
    color: white;
}

.saleTriangle {
    border-top: 5em solid #0000C9;
}

.saleTag {
    right: 2%;
    color: white;
}