/* Styling for sign-in content */

body {
  background-color: #03dac6;
}

.main-nav {
  position: static;
}

.sign-in {
  margin-top: 1em;
  margin-bottom: 10em;
  padding: 1em 6em;
  color: 	#2f363d;
}

.sign-in h2 {
  color: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 2em;
  border-bottom: medium solid white;
}

.sign-in h3 {
  padding: 2em 0 0 0;
  font-size: 1.3em;
}

.sign-in-content {
  text-align: center;
  background-color: white;
  box-shadow: 0 0 1em #995dff;
}

.sign-in-content input[type=text] {
  width: 25em;
  height: 4em;
  margin-top: 2em;
  margin-bottom: 1em;
  background-color: rgb(228, 226, 226);
  border-style: hidden;
}

.sign-in-content input[type=password]{  
  width: 25em;
  height: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(228, 226, 226);
  border-style: hidden;
}

.sign-in-content button {
  width: 25em;
  height: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #6200EE;
  color: white;
}

.sign-in-content input::placeholder {
  color: grey;
  padding-left: 1em;
}

.register-link p {
  padding-top: 1em;
  padding-bottom: 2em;
  font-size: 0.9em;
}

.register-link p a {
  color: #6200EE;
}